@font-face {
    font-family: "Segoe UI";
    src: url('../polices/segoe-ui/Segoe-UI.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: "Segoe UI";
    src: url('../polices/segoe-ui/Segoe-UI-Bold.ttf') format('truetype');
    font-weight: bold;
}

html, body {
    height: 100%;
    margin: 0px;
}
body {
    background-color: black;
    font-family: 'Segoe UI';
}

button {
    font-size: medium;
    font-family: 'Segoe UI';
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
    font-size: 1.1em;
    padding: 10px;
}

.centre {
    text-align: center;
}

.ecran {
    width: calc(100% - 70px);
    height: calc(100% - 70px);
    background-image: url('../images/cdi/wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    overflow: hidden;
}

.bienvenue {
    width: 60%;
    max-height: calc(75% - 20px);
    overflow-y: auto;
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    box-sizing: border-box;
}

#taches {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 7vh;
    background-color: rgb(42, 42, 42);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#temps {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-right: 10px;
}

#logoWindows {
    height: 100%;
}
#logoWindows > img {
    max-height: 100%;
    cursor: pointer;
}

#bureau {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    padding: 20px;
    color: white;
    row-gap: 20px;
    column-gap: 5px;
    height: calc(100% - 7vh);
    max-height: 100%;
    box-sizing: border-box;
}
#bureau img {
    width: 6vw;
    height: auto;
    cursor: pointer;
}
#bureau > * {
    max-width: 6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
#bureau > * span {
    word-break: break-all;
    text-align: center;
}

#fenetreFirefox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 7vh); /* toute la hauteur sans la barre des tâches */
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
    display: none;
}
#contenuFirefox {
    width: 100%;
    height: calc(100% - 3vh - 5px - 10px);
    overflow-y: auto;
    max-height: calc(100% - 3vh - 5px - 10px);
}
#fermerFirefox {
    position: absolute;
    width: 3vw;
    height: 3vh;
    top: 0px;
    right: 0px;
    cursor: pointer;
    background-color: red;
    color: white;
    padding: 5px 20px 10px 20px; /* padding en haut / à droite / en bas / à gauche */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vh;
    font-weight: bold;
}
#titreFirefox {
    /* enlève la taille du bouton de fermeture et ses paddings */
    width: calc(100% - 3vw - 2*20px);
    height: calc(3vh + 5px + 10px);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 20px;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}
#maisonFirefox{
    height: 2em;
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
}
#maisonFirefox img, #ongletsFirefox, #google, #wikipedia {
    height: 100%;
}
#accueilFirefox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#accueilFirefox img {
    width: 20%;
}
#historique {
    padding-left: 10px;
    padding-right: 10px;
    height: unset !important;
    padding-bottom: 10px;
}

#maj {
    background-color: #357ec7;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    text-align: center;
}
#maj img {
    width: 5%;
}

#bsod {
    background-color: #357ec7;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    color: white;
    font-size: 1.5em;
    padding-left: 20%;
    padding-right: 20%;
    box-sizing: border-box;
}

#popup {
    z-index: 999;
    box-shadow: 10px 5px 5px gray;
}

#notification {
    z-index: 1000;
    background-color: rgb(82, 82, 82);
    color: white;
    text-align: left;
    padding: 10px;
    bottom: 7vh;
    position: absolute;
    animation: glisser 2s ease-out; 
    right: 20px;
}

@keyframes glisser {
    from { right: -100%; opacity: 0; }
    to { right: 20px; opacity: 1; }
}