html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background-image:url("salle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}

#conteneur_intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.intro {
    position: absolute;
    top: 30%;
    font-family: "Georgia";
    font-size: 15px;
    color: #015e54;
    background-color: #a0f0c8ed;
    border: 2px solid white;
    border-radius: 90px;
    width: 70%;
    text-align: center;
    padding: 30px;
}
#bouton_intro {
    padding: 20px 30px;
    border-radius: 20px;
    border: none;
    font-family: "Georgia";
    font-size: 16px;
    color: white;
    background-color: #008b7c;
}
#jeu {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
#conteneur_compteur_de_points {
    top: 5vh;
    left: 5vh;
    position: absolute;
    width: 200px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
#vos_points {
    width: 150px;
    font-size: 20px;
    border-radius: 5px;
    margin-right: 5px;
    text-align: center;
    background-color: white;
    padding: 10px;
    right: 15px;
    position: relative;
}
#compteur_de_points {
    border-radius: 5px;
    min-width: 15px;
    text-align: center;
    background-color: hotpink;
    right: 5px;
    font-size: 20px;
    padding: 10px;
    position: relative;
}
#photo_du_personnage {
    border-radius: 35px;
    height: 50vh;
}
#propositions {
    display: flex;
    position: absolute;
    bottom: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.divs {
    position: relative;
    font-family: "Georgia";
    height: auto;
    color: white;
    padding: 17px 44px;
    margin: 10vh 10px;
    font-size: clamp(16px, 1.2vw, 20px);
    border: black;
    border-radius: 5px;
    cursor: pointer;
}
#mj {
    z-index: 10;
    display: block;
    position: fixed;
    top: 5px;
    right: 5px;
    color: black;
    padding: 7px 4px;
    margin: 5px 10px;
    border: black;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.Suivant {
    position: absolute;
    right: 20px;
    bottom: 3.2vh;
    color: white;
    padding: 17px 44px;
    border: red;
    border-radius: 5px;
    font-size: clamp(16px, 1.2vw, 20px);
    cursor: pointer;
    background-color: #008b7c;
    font-family: "Georgia";
    display: none;
}
.juste {
    background-color: green;
}
.faux {
    background-color: red;
}
.style_neutre {
    background-color: #008b7c;
}
#outro {
    display: none;
    box-sizing: border-box;
    position: absolute;
    bottom: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.rep {
    box-sizing: border-box;
    color: black;
    background-color: #a0f0c8bf;
    border-radius: 5px;
    font-size: clamp(16px, 2.4vw, 20px);
    text-align: justify;
    padding: 50px 200px 50px 50px;
    margin: 30px 30px 0px 10px;
    line-height: 1.4em;
}
.perso {
    position: absolute;
    left: 0px;
    top: 20px;
    color: white;
    padding: 15px;
    font-size: clamp(14px, 1vw, 18px);
    background-color: #008b7c;
}
#next {
    bottom: 30px;
}
